    <div id="page">
        <div id="header">
            <div id="title"><h1>Logan Bell</h1></div>
            <div id="subtitle">Figlet</div>
        </div>
        <div id="yellowbar"></div>
        <div id="wrapper">
            [% INCLUDE navbar.tt %]
            <div id="content">
                [% INCLUDE display_entries.tt entries %]
            </div>
            <div id="squares"></div>
        </div>
    </div>
