<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Logan's Blog</title>
        <meta name="author" content="Logan Bell" />
        <meta name="copyright" content="Copyright 2011 (c) by Logan Bell" />
        <meta name="description" content="Ramblings of a lumber jack" />
        <meta name="keywords" content="Logan Bell" />
        <meta name="robots" content="all" />
        <link rel="stylesheet" href="/static/styles/base.css" type="text/css" />
    </head>
    <body>
    <div id="page">
        <div id="header">
            <div id="title"><h1>Logan Bell</h1></div>
            <div id="subtitle">Now I realize brain cells are important</div>
        </div>
        <div id="yellowbar"></div>
        <div id="wrapper">
            [% INCLUDE navbar.tt %]
            <div id="content">
                [% content %]
            </div>
            <div id="squares"></div>
        </div>
    </div>
    </body>
</html>
